.node {
	cursor: default;
}

	.node text {
		font: 12px sans-serif;
		fill: #FFFFFF;
	}

	.node rect {
	}

/* Lines */
.link {
	fill: none;
	stroke: #424242;
	stroke-width: 1.5px;
}

#body {
	cursor: move;
	height: 100vh;
	width: 100%;
	background-color: #fff;
	border: 1px solid black;
	margin: 0px 0px 10px 0px;
}

